<div style='clear:both'></div>
	<div id='footer-weaper'>
		<div style='text-align: center;'>
			<b>Sàn giao dịch bất động sản online</b>
		</div>
		<div style='text-align: center;'>
			Copyright &#169; 2015 sanbatdongsanonline.vn &#174; Ghi rõ nguồn "http://sanbatdongsanonline.vn " khi phát hành lại thông
			tin từ website này.</div>
		<div style='text-align: center;'>
			Người chịu trách nhiệm chính: Lê Phương Nam - Quản lý sàn giao dịch bất động sản online</div>
		<div style='text-align: center;'>
			Điện thoại: 0917 124 468 - Email: sanbatdongsanonline.vn@gmail.com</div>
		<div style='text-align: center;'>
			Phát triển bởi Sàn Giao Dịch Bất Động Sản Online http://www.sanbatdongsanonline.vn</div>
	</div>
</div>
