<div class='menu-mobile'>
    <div id='header-mobile'>
        <nav class='navbar navbar-inverse'>
            <div class='navbar-header'>
                <button class='navbar-toggle' data-target='#menu' data-toggle='collapse' type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' href='index.html'>MENU</a>
            </div>
            <div class='navbar-collapse collapse' id='menu'>
                <ul class='nav navbar-nav'>
                    <li>
                        <a href='index.html'>
                            <img src='../2.bp.blogspot.com/-mRGMQztxTu4/VpE9vpZcaQI/AAAAAAAAEMA/qa6-3Pbjn_c/s1600/icon-home.png' />
                        </a>
                    </li>
                    <li class='dropdown'>
                        <a data-toggle='dropdown' href='#'>Nhà đất bán
                            <span class='caret'></span>
                        </a>
                        <ul class='dropdown-menu'>
                            <li>
                                <a href='search/label/D%e1%bb%b1%20%c3%a1n%20b%e1%ba%a5t%20%c4%91%e1%bb%99ng%20s%e1%ba%a3n%20hot.html'>Bán biệt thự</a>
                            </li>
                            <li>
                                <a href='search/label/D%e1%bb%b1%20%c3%a1n%20b%e1%ba%a5t%20%c4%91%e1%bb%99ng%20s%e1%ba%a3n%20hot.html'>Bán đất nền dự án</a>
                            </li>
                            <li>
                                <a href='search/label/D%e1%bb%b1%20%c3%a1n%20b%e1%ba%a5t%20%c4%91%e1%bb%99ng%20s%e1%ba%a3n%20hot.html'>Bán chung cư</a>
                            </li>
                            <li>
                                <a href='search/label/D%e1%bb%b1%20%c3%a1n%20b%e1%ba%a5t%20%c4%91%e1%bb%99ng%20s%e1%ba%a3n%20hot.html'>Bán nhà riêng</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='search/label/D%e1%bb%b1%20%c3%a1n%20b%e1%ba%a5t%20%c4%91%e1%bb%99ng%20s%e1%ba%a3n%20hot.html'>Nhà đất cho thuê</a>
                    </li>
                    <li>
                        <a href='search/label/Tin%20t%e1%bb%a9c%20B%c4%90S.html'>Phong thủy</a>
                    </li>
                    <li>
                        <a href='search/label/Tin%20t%e1%bb%a9c%20B%c4%90S.html'>Kiến trúc</a>
                    </li>
                    <li>
                        <a href='search/label/Tin%20t%e1%bb%a9c%20B%c4%90S.html'>Nội ngoại thất</a>
                    </li>
                    <li>
                        <a href='search/label/Tin%20t%e1%bb%a9c%20B%c4%90S.html'>Tin tức</a>
                    </li>
                    <li>
                        <a href='search/label/Tin%20t%e1%bb%a9c%20B%c4%90S.html'>Tuyển dụng</a>
                    </li>
                    <li>
                        <a href='search/label/Tin%20t%e1%bb%a9c%20B%c4%90S.html'>Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div style='clear:both'></div>
