<div class="post hentry simpleCart_shelfItem">
        <div class="post-body entry-content">
           <a href="http://demo6.share123.com.vn/2014/06/ban-chung-cu-thien-thanh-tower.html"><img width="145px" height="145px;" src="http://lh4.googleusercontent.com/-gsL3tXQamw8/Vd9nmQOKumI/AAAAAAAAAA8/MUunTnalsJs/s320/file.315130.jpg" class="postthumb item_image" alt="gallery thumbnail"></a>
           <h3 class="post-title entry-title"><a href="http://demo6.share123.com.vn/2014/06/ban-chung-cu-thien-thanh-tower.html">
            <span class="item_name">Bán chung cư thiên thanh Tower</span></a></h3>
           <div id="tomtat-duan">
              <div class="hinh-dai-dien">
                 <div class="separator" style="clear: both; text-align: center;"><a href="http://1.bp.blogspot.com/-gsL3tXQamw8/Vd9nmQOKumI/AAAAAAAAAA8/MUunTnalsJs/s1600/file.315130.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="265" src="http://lh4.googleusercontent.com/-gsL3tXQamw8/Vd9nmQOKumI/AAAAAAAAAA8/MUunTnalsJs/s320/file.315130.jpg" width="320"></a></div>
              </div>
              
              <div class="mota-tomtat-duan">
                  <span class="item_price">
                        <strong>Gía: 500.000 triệu/m2</strong>
                  </span>
                  <br>
                  <span class="item_price1">Vị trí: 
                      <b>Hà Đông, Hà Nội</b>
                  </span>
                  <span class="item_price" style="top: 67px;left:279px">
                        <select class="demo_rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                        </select>
                  </span>
            </div>
           </div>
           <br>
           <div id="mota-chitiet-du-an">
              <div class="title-thongtinduan">THÔNG TIN DỰ ÁN</div>
              <div class="box-content-rv content-rv" style="border: 1px solid rgb(226, 224, 224); box-sizing: border-box; margin-bottom: 10px;">
                 <div class="content-rv" style="box-sizing: border-box; padding: 0px 10px 10px; text-align: justify;">
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; color: red; font-size: x-large;"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 'times new roman', times; text-align: justify;">CHUNG C</span></strong></span><span style="box-sizing: border-box; color: red; font-family: times new roman, times; font-size: x-large;"><b style="box-sizing: border-box;">Ư MON CITY - HẢI&nbsp;ĐĂNG CITY</b></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp; &nbsp;Dự án&nbsp;<strong style="box-sizing: border-box;">Mon City</strong>&nbsp;(<strong style="box-sizing: border-box;">Hải Đăng City</strong>) Mỹ Đình là một trong những dự án nổi bật nhất năm 2015. Với vị trí đắc địa nằm trên 3 mặt tiền Lê Đức Thọ, Hàm Nghi và Nguyễn Cơ Thạch, Mon City được ví như là ngôi sao sáng của Mỹ Đình.</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/Tong-the-goc-CT.jpg" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><em style="box-sizing: border-box;"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Phối cảnh tổng thể Mon City</span></strong></em></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp; &nbsp;<strong style="box-sizing: border-box;">Liền Kề Mon City</strong>&nbsp;Hải Đăng Mỹ Đình được các kiến trúc sư hàng đầu thế giới thiết kế, mang đậm nét Châu Âu kiến trúc cổ kính hòa quyện với không gian thiên nhiên đã tạo cho dự án trở thành một tổ hợp đẳng cấp…</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/Can-canh-nha-pho.jpg" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><em style="box-sizing: border-box;"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Phối cảnh Liền kề – Nhà Phố Mon City</span></strong></em></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp; &nbsp;Từ dự án&nbsp;<strong style="box-sizing: border-box;">Mon City</strong>&nbsp;chúng ta có thể nhìn thấy khung cảnh thơ mộng của Hồ Điều Hòa của Quận Nam Từ Liêm. Chỉ cách chừng 150m chúng ta có thể thả mình vào khu công viên rợp bóng mát. Mon City thắp tương lai – Bền hạnh phúc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/Lake-view.jpg" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Lake View</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><br style="box-sizing: border-box;"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; color: blue; font-size: large;"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Giới thiệu Dự án Chung Cư Mon City Hải Đăng Mỹ Đình</span></strong></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp; &nbsp;Quy mô dự án&nbsp;<strong style="box-sizing: border-box;">Chung cư Mon City</strong>&nbsp;Hải Đăng</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><strong style="box-sizing: border-box;">&nbsp; &nbsp; &nbsp;+ Tên dự án:</strong>&nbsp;Mon City (Hải Đăng City)</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp; &nbsp;<strong style="box-sizing: border-box;">+ Chủ đầu tư:</strong>&nbsp;Công Ty Cổ Phần Địa Ốc Hải Đăng</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp; &nbsp;+ Công ty TNHH AEDAS (Hồng Kông)</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Công ty cổ phần đầu tư xây dựng NHS</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Công ty cổ phần đầu tư và phát triển kiến trúc IDEA</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Công ty cổ phần tư vấn và thiết kế xây dựng Việt Nam (CDC)</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Công ty TNHH tư vấn Đại học Xây Dựng</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Đơn vị tư vấn giám sát công trình: Công ty cổ phần TEXO tư vấn và đầu tư.</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Tổng diện tích dự án 6.7 ha trong đó:</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Diện tích công trình cao tầng và thấp tầng được xây dựng trên 22,482.8 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Diện tích cây xanh và khuân viên&nbsp; 21,710.6 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Diện tích cơ sở giao thông 21,623.2m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Thời gian dự kiến hoàn thành: Quý II năm 2017</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-size: large;"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; color: blue; font-family: 'times new roman', times;">Ý tưởng thiết kế Chung cư Mon City</span></strong></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp;Chung cư Mon City là một tổ hợp khép kín bao gồm tiện ích cộng đồng, căn hộ và liền kề biệt thự cao cấp được xây dựng từ những nét tinh hoa nhất của Châu Âu năng động, hiện đại…</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp;Mô hình phúc hợp khép kín, HD Mon Hải Đăng sẽ mang lại cho những ai bước chân vào dự án đều cảm thấy ngỡ ngàng trước sự kết hợp khéo léo với những con đường đầy cỏ hoa 2 bên đường, những dãy nhà phố liền kề là điểm nhấn cho không gian hiện đại mang đậm chất nét văn hóa phương tây…Dự án là những gì tâm huyết nhất từ chủ đầu tư, sự sáng tạo, óc thẩm mỹ của những kiến trúc sư giỏi nhất được kết hợp hài hòa đã tạo nên sự khác biệt và là nơi đáng mơ ước cho hạnh phúc đong đầy ở Mon City.</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><br style="box-sizing: border-box;"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; color: blue; font-size: large;"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Vị Trí Dự Án Mon City</span></strong></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp;Mon City sở hữu một vị trí đáng mơ ước tại 2 tuyến phố Nguyễn Cơ Thạch và Hàm Nghi nơi giao thoa giữa trung tâm thành phố mới được sở hữu cơ sở hạ tầng đồng bộ xung quanh như bệnh viện, trường học, các khu trung tâm mua sắm giải trí sầm uất…</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Phía Tây Nam Giáp : Phố Hàm Nghi</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Phía Tây Bắc Giáp&nbsp;&nbsp; : Phố Nguyễn Cơ Thạch</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Phía Đông Nam&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Phố Lê Đức Thọ</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp;Chung cư Mon City Mỹ Đình là dự án được chờ đợi nhất năm 2015 của bất động sản phía Tây&nbsp; Hà Nội.</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/Ban-do.jpg" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Vị trí Mon City</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><br style="box-sizing: border-box;"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Liên Kết Vùng Của Dự án Chung cư Mon City Hải Đăng</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/lienketvungmoncity.jpg" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Liên Kết Vùng Mon City</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Chỉ mất 10 phút đi xe để đến các trường Đại học lớn như Đại học Quốc gia, Đại học Sư phạm, Đại học Thương mại, học viện báo chí tuyên truyền (cách đại học Quốc Gia 1,1 km, cách Học viện báo chí tuyên truyền 1,3 km)</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Gần trung tâm hội nghị Quốc gia, bến xe Mỹ Đình, sân vận động Mỹ Đình (từ dự án bến xe Mỹ Đình 2,5 km, cách sân vận động Mỹ Đình 1 km)</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Tự dự án đến bệnh viện 198 chỉ có 2km</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><br style="box-sizing: border-box;"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; color: blue; font-size: large;"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Tiện ích Dự Án Mon City</span></strong></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp;Ngoài liền kề dự án còn có chung cư gồm 2 tầng hầm và 2 tầng TTTM sầm uất.&nbsp;</span><span style="box-sizing: border-box; font-family: 'times new roman', times;">Khu TTTM cao cấp, không gian mua sắm thú vị , rất nhiều các gian hàng ẩm thực mang đậm phong cách các vùng miền. Chủ đầu tư luôn luôn chú trọng đến sức khỏe cho cộng đồng cư dân đã lựa chọn đơn vị chuyên nghiệp để nâng cao sức khỏe cho cư dân với Phòng tập gym chuyên nghiệp được trang bị các thiết bị luyện tập hỗ trợ tăng cường sức khoẻ tim mạch như máy chạy bộ, xe đạp, chèo thuyền….</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp;Không gian Spa hiện đại và sang trọng cùng phong cách phục vụ tận tâm chu đáo của đội ngũ nhân viên chuyên nghiệp…Phòng khám đa khoa hiện đại cung cấp dịch vụ chăm sóc sức khoẻ theo tiêu chuẩn quốc tế cho mọi lứa tuổi trong một môi trường an toàn, ấm áp và thân thiện.</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/tienich1.jpg" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Bể bơi bốn mùa</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/tienich2.jpg" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Dịch Vụ Spa Hiện Đại Với Đội Ngũ Nhân Viên Tâm Huyết Và Chuyên Nghiệp</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/tienich3.jpg" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Các Gian Hàng Từ Các Hãng Nổi Tiếng</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><br style="box-sizing: border-box;"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; color: blue; font-size: large;"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">MẶT BẰNG DỰ ÁN MON CITY</span></strong></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><br style="box-sizing: border-box;"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp;Dự án Mon City (Hải Đăng City) với quy mô lên tới 6,7 ha với tổng số vốn đầu tư lên tới hơn 5000 tỷ nằm trên vị trí đắc địa 3 mặt giáp với đường Hàm Nghi, Nguyễn Cơ Thạch, Lê Đức Thọ. Mon City là một trong những dự án trọng điểm của năm 2015 khi được Chủ đầu tư chú trọng xây dựng thành một khu đô thị khép kín kiểu mẫu.</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/M%E1%BA%B7t-b%E1%BA%B1ng-T%E1%BB%95ng-Th%E1%BA%BFCT1.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Mặt bằng tổng thể</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+ Căn số 01 –&nbsp; Căn hộ loại D1&nbsp; – 52,6 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/c%C4%83n-D1-01.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 15m2 gồm cả WC – Phòng ngủ 2: 10m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp + ăn uống: 11,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách: 15m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công :Tây Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><br style="box-sizing: border-box;"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><strong style="box-sizing: border-box;">+&nbsp;</strong>Căn số 02 – Căn hộ loại&nbsp; D1 – 52.6 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/c%C4%83n-D1-02.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 15m2 gồm cả WC – Phòng ngủ 2: 10m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp + ăn uống: 11,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách: 15m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công :Tây Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><strong style="box-sizing: border-box;">+&nbsp;</strong>Căn số 03 – Căn hộ loại D – 54 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/c%C4%83n-D-03.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 11m2&nbsp; – Phòng ngủ 2: 9m2 – Wc: 3,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp: 5,6m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách + ăn uống: 19m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Tây nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công :Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><strong style="box-sizing: border-box;">+</strong>&nbsp;Căn số 04 – Căn hộ loại D – 54 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/c%C4%83n-D-04.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 11m2&nbsp; – Phòng ngủ 2: 9m2 – Wc: 3,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp: 5,6m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách + ăn uống: 19m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Tây nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công : Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+&nbsp;Căn số 05 – Căn hộ loại B – 67 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/c%C4%83n-B-05.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 16m2 gồm cả WC – Phòng ngủ 2: 13m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp + ăn uống: 21,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách: 10m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Tây Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng Ban Công :Đông Bắc , Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><strong style="box-sizing: border-box;">+&nbsp;</strong>Căn số 06 – Căn Hộ Loại B – 67 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/C%C4%83n-B-06.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 16m2 gồm cả WC – Phòng ngủ 2: 13m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp + ăn uống: 21,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách: 10m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Tây Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng Ban Công :Tây Nam – Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><br style="box-sizing: border-box;"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><strong style="box-sizing: border-box;">+&nbsp;</strong>Căn số 7 – Căn hộ loại A – Căn Góc – 86 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/1C%C4%83n-A-07.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 15.5m2 gồm cả WC – Phòng ngủ 2: 11m2 – Phòng ngủ 3: 8m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp: 6,3m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách + ăn uống: 25m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công : Đông Nam – Đông Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Đông Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">+&nbsp;Căn số 8 – Căn hộ loại A – Căn Góc – 86 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;">&nbsp;<img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/C%C4%83n-A-08.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 15.5m2 gồm cả WC – Phòng ngủ 2: 11m2 – Phòng ngủ 3: 8m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp: 6,3m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách + ăn uống: 25m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công : Đông Bắc,Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Tây Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Căn số 9 – Căn hộ loại C – 61,5 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/C%C4%83n-C-09.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 15m2 gồm cả WC – Phòng ngủ 2: 10m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp + ăn uống: 11,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách: 15m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng Cửa : Đông Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công : Tây Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Căn số 10 – Căn Hộ Loại C – 61,5 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;">&nbsp;<img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/C%C4%83n-C-101.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><br style="box-sizing: border-box;"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 15m2 gồm cả WC – Phòng ngủ 2: 10m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp + ăn uống: 11,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách: 15m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng Cửa : Tây Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công : Đông Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Căn Số 11 – Căn Hộ Loại C – 61.5 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/c%C4%83n-C-11.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 15m2 gồm cả WC – Phòng ngủ 2: 10m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp + ăn uống: 11,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách: 15m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng Cửa : Đông Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công : Tây Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Căn số 12 –&nbsp; Căn Hộ Loại C – 61.5 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/C%C4%83n-C-12.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 15m2 gồm cả WC – Phòng ngủ 2: 10m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp + ăn uống: 11,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách: 15m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng Cửa : Tây Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công : Đông Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Căn số 14 – Căn Hộ Loại A – 86 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/C%C4%83n-A-14.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 15.5m2 gồm cả WC – Phòng ngủ 2: 11m2 – Phòng ngủ 3: 8m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp: 6,3m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách + ăn uống: 25m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công : Đông Bắc,Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Tây Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;"><br style="box-sizing: border-box;"></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Căn số 15 – Căn Hộ Loại A – 86 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/C%C4%83n-A-15.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 15.5m2 gồm cả WC – Phòng ngủ 2: 11m2 – Phòng ngủ 3: 8m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp: 6,3m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách + ăn uống: 25m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng ban công : Đông Nam – Đông Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Đông Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Căn số 16 – Căn Hộ Loại B – 67 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/C%C4%83n-B-16.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680">&nbsp;</o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 16m2 gồm cả WC – Phòng ngủ 2: 13m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp + ăn uống: 21,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách: 10m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Tây Bắc</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng Ban Công :Tây Nam – Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Căn số 17 – Căn Hộ Loại B – 67 m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;">&nbsp;<img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/C%C4%83n-B-17.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></o:p>
                    </div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng ngủ 1: 16m2 gồm cả WC – Phòng ngủ 2: 13m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng bếp + ăn uống: 21,5m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Phòng khách: 10m2</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng cửa : Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">– Hướng Ban Công :Đông Bắc – Đông Nam</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp;Nội thất Chung cư HD Mon City Hải Đăng được thiết kế theo phong cách hiện đại, sang trọng.&nbsp;</span><span style="box-sizing: border-box; font-family: 'times new roman', times;">Đầu tiên khi đến nhà phòng khách là nơi đầu tiên bạn bè cũng như người thân đến chơi thăm nhà đặt chân đến.Cho nên thiết kế phòng khách sao cho đẹp mắt cũng như tạo lên những điểm nhấn mang đậm phong cách của chủ nhà đó là điều quý gia chủ mong muốn.Vì thế chúng tôi sẽ gợi ý một số nội thất giúp quý vị có thêm những sự lựa chọn của mình.</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/nt1.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp;Ở trong phòng khách này chúng tôi lấy nội thất có gam màu xanh đem lại sự mát mẻ kết hợp với màu trắng thuần khiết tạo lên không gian xanh mát cho căn hộ,thiết kế mẫu này hợp với đa phần khách hàng đặc biệt các cặp vợ chồng trẻ.</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;"><img src="http://sanbatdongsanonline.vn/Content/Upload/Nha-dat-ban/Ban-chung-cu/HD%20MON/nt3.png" height="480" style="border: 0px; box-sizing: border-box; max-width: 100%; vertical-align: top;" width="680"></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">&nbsp; &nbsp;Về khu vực bếp ăn vơi thiết kế chuẩn châu âu Được các kiến trúc sư hàng đầu lựa chọn màu cũng như bố trí các vận dụng phù hợp với từng căn hộ.Thì phòng bếp cực tiện lợi với những gam màu ấm tạo sự ấm cúng cho gian bếp của bạn.</span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><br></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px;"><span style="box-sizing: border-box; color: red; font-size: large;"><em style="box-sizing: border-box;"><strong style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 'times new roman', times;">Quý khách hàng Quan tâm đến dự án vui lòng liên hệ:</span></strong></em></span></div>
                    <div style="box-sizing: border-box; margin-bottom: 10px; text-align: center;">
                       <o:p style="box-sizing: border-box;">&nbsp;<span style="box-sizing: border-box; color: blue; font-family: 'times new roman', times; font-size: x-large;"><strong style="box-sizing: border-box;">0917 124 468 - 0977 949 790</strong></span></o:p>
                    </div>
                 </div>
              </div>
              <div class="overflow" style="box-sizing: border-box; overflow: hidden;">
                 <div class="col-md-6 " style="box-sizing: border-box; float: left; min-height: 1px; padding: 0px; position: relative; width: 384px;">
                    <div class="box-content-rv content-rv-other" style="border: 1px solid rgb(226, 224, 224); box-sizing: border-box; margin-bottom: 10px; margin-right: 10px;">
                       <div class="title" style="background-color: #0d82db; background-image: url(&quot;images/bg-title-content-home.png&quot;); box-sizing: border-box; color: #1e4283; font-weight: bold; height: 32px; margin-bottom: 10px; padding-left: 5px; padding-top: 5px; text-transform: uppercase;">THÔNG TIN KHÁC</div>
                       <div class="content-rv" style="box-sizing: border-box; padding: 0px 10px 10px; text-align: justify;">
                          <table class="table-css-cl" style="border-collapse: collapse; border-spacing: 0px; box-sizing: border-box; max-width: 100%; width: 352px;">
                             <tbody style="box-sizing: border-box;">
                                <tr style="border-bottom-color: gray; border-bottom-style: solid; border-bottom-width: 1px; box-sizing: border-box; color: #1e4283; font-size: 13px; padding: 5px !important;">
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px; width: 90px;">Hướng nhà:</td>
                                   <td style="box-sizing: border-box; font-weight: bold; padding: 3px;">Đông-Nam</td>
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Hướng ban công:</td>
                                   <td style="box-sizing: border-box; font-weight: bold; padding: 3px;">Đông-Nam</td>
                                </tr>
                                <tr style="border-bottom-color: gray; border-bottom-style: solid; border-bottom-width: 1px; box-sizing: border-box; color: #1e4283; font-size: 13px; padding: 5px !important;">
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Mặt tiền:</td>
                                   <td style="box-sizing: border-box; font-weight: bold; padding: 3px;">m</td>
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Đường vào:</td>
                                   <td style="box-sizing: border-box; font-weight: bold; padding: 3px;">m</td>
                                </tr>
                                <tr style="border-bottom-color: gray; border-bottom-style: solid; border-bottom-width: 1px; box-sizing: border-box; color: #1e4283; font-size: 13px; padding: 5px !important;">
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Số tầng:</td>
                                   <td style="box-sizing: border-box; font-weight: bold; padding: 3px;"></td>
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Số phòng ngủ:</td>
                                   <td style="box-sizing: border-box; font-weight: bold; padding: 3px;"></td>
                                </tr>
                                <tr style="border-bottom-color: gray; border-bottom-style: solid; border-bottom-width: 1px; box-sizing: border-box; color: #1e4283; font-size: 13px; padding: 5px !important;">
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Số toilet:</td>
                                   <td style="box-sizing: border-box; font-weight: bold; padding: 3px;"></td>
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;"></td>
                                   <td style="box-sizing: border-box; font-weight: bold; padding: 3px;"></td>
                                </tr>
                                <tr style="border-bottom-color: gray; border-bottom-style: solid; border-bottom-width: 1px; box-sizing: border-box; color: #1e4283; font-size: 13px; padding: 5px !important;">
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Nội thất:</td>
                                   <td colspan="3" style="box-sizing: border-box; font-weight: bold; padding: 3px;"></td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6 " style="box-sizing: border-box; float: left; min-height: 1px; padding: 0px; position: relative; width: 384px;">
                    <div class="box-content-rv content-rv-other" style="border: 1px solid rgb(226, 224, 224); box-sizing: border-box; margin-bottom: 10px;">
                       <div class="title" style="background-color: #0d82db; background-image: url(&quot;images/bg-title-content-home.png&quot;); box-sizing: border-box; color: #1e4283; font-weight: bold; height: 32px; margin-bottom: 10px; padding-left: 5px; padding-top: 5px; text-transform: uppercase;">THÔNG TIN LIÊN HỆ</div>
                       <div class="content-rv" style="box-sizing: border-box; padding: 0px 10px 10px; text-align: justify;">
                          <table class="table-css-cl" style="border-collapse: collapse; border-spacing: 0px; box-sizing: border-box; max-width: 100%; width: 362px;">
                             <tbody style="box-sizing: border-box;">
                                <tr style="border-bottom-color: gray; border-bottom-style: solid; border-bottom-width: 1px; box-sizing: border-box; color: #1e4283; font-size: 13px; padding: 5px !important;">
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px; width: 90px;">Tên liên hệ:</td>
                                   <td class="font-red" colspan="3" style="box-sizing: border-box; font-weight: bold; padding: 3px;">Lê Phương Nam</td>
                                </tr>
                                <tr style="border-bottom-color: gray; border-bottom-style: solid; border-bottom-width: 1px; box-sizing: border-box; color: #1e4283; font-size: 13px; padding: 5px !important;">
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Điện thoại:</td>
                                   <td class="font-red" style="box-sizing: border-box; font-weight: bold; padding: 3px;">0917124468</td>
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Di động:</td>
                                   <td class="font-red" style="box-sizing: border-box; font-weight: bold; padding: 3px;">0917124468</td>
                                </tr>
                                <tr style="border-bottom-color: gray; border-bottom-style: solid; border-bottom-width: 1px; box-sizing: border-box; color: #1e4283; font-size: 13px; padding: 5px !important;">
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Địa chỉ:</td>
                                   <td colspan="3" style="box-sizing: border-box; font-weight: bold; padding: 3px;">63 Lê Văn Lương - Thanh Xuân - Hà Nội</td>
                                </tr>
                                <tr style="border-bottom-color: gray; border-bottom-style: solid; border-bottom-width: 1px; box-sizing: border-box; color: #1e4283; font-size: 13px; padding: 5px !important;">
                                   <td style="box-sizing: border-box; color: #333333; padding: 3px;">Email:</td>
                                   <td colspan="3" style="box-sizing: border-box; font-weight: bold; padding: 3px;">phuongnam.tsth@gmail.com</td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="box-content-rv content-rv" style="border: 1px solid rgb(226, 224, 224); box-sizing: border-box; margin-bottom: 10px;">
                 <div class="title" style="background-color: #0d82db; background-image: url(&quot;images/bg-title-content-home.png&quot;); box-sizing: border-box; color: #1e4283; font-family: Arial; font-size: 13px; font-weight: bold; height: 32px; line-height: 18.5714px; margin-bottom: 10px; padding-left: 5px; padding-top: 5px; text-transform: uppercase;">VỊ TRÍ TIN RAO</div>
                 <div style="background-color: white; box-sizing: border-box; color: #333333; font-family: Arial; font-size: 13px; line-height: 18.5714px;">
                    <div id="map_div" style="background-color: #e5e3df; box-sizing: border-box; height: 350px; overflow: hidden; position: relative; transform: translateZ(0px); width: 766px;">
                       <div class="gm-style" style="box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 11px; height: 350px; left: 0px; overflow: hidden; position: absolute; top: 0px; width: 766px; z-index: 0;">
                          <div style="box-sizing: border-box; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; height: 350px; left: 0px; overflow: hidden; position: absolute; top: 0px; width: 766px; z-index: 0;">
                             <div style="box-sizing: border-box; left: 0px; position: absolute; top: 0px; transform-origin: 495px 48px 0px; transform: matrix(1, 0, 0, 1, 0, 0); width: 766px; z-index: 1;">
                                <div style="box-sizing: border-box; left: 0px; position: absolute; top: 0px; transform: translateZ(0px); width: 766px; z-index: 100;">
                                   <div style="box-sizing: border-box; left: 0px; position: absolute; top: 0px; z-index: 0;">
                                      <div aria-hidden="true" style="box-sizing: border-box; left: 0px; position: absolute; top: 0px; visibility: inherit; z-index: 1;"></div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        
        <div style="clear: both;"></div>
</div>